.play {
  opacity: .6;
  position: relative;
  top: 7px;
  color: orange;
  cursor: pointer;
}
.played {
  color: brown;
}
img {
  max-width: 500px;
}
.title {
  margin-left: 20px;
}
.checkbox {
  opacity: .7;
}
