.book-card {
  width: 240px;
  height: 640px;
}
.book-card-content {
  font-size: 16px;
  padding-top: 12px;
}
.book-subtitle {
  font-size: 14px;
}
.book-header {
  height: 160px;
  overflow: auto;
}
.book-footer {
  padding-top: 6px;
  height: 100px;
  overflow: auto;
}
.author {
  padding: 6px 0;
}
.book-container {
  height: 316px;
  overflow: hidden;
  margin: 0 -16px;
}
.image-container {
  height: 385px;
  overflow-y: hidden;
  img {
    width: 242px;
    margin-left: -2px;
  }
}
.translator {
  font-style: italic;
}
.genre {
  position: absolute;
  right: 6px;
  top: 2px;
}
.mat-card-header .mat-card-title {
  margin-bottom: inherit;
}
