<!--<mat-progress-spinner *ngIf="!book"></mat-progress-spinner>-->
<div class="book-card" *ngIf="book">
    <mat-card class="book-card">
      <mat-card-header class="book-header">
        <app-book-menu [book]="book"
                       (refresh)="setRefresh($event)"
                       (bookChange)="emitBookChange($event)"
        ></app-book-menu>
        <mat-card-title class="book-title">
          {{ book.title }}
          <span *ngIf="book.date"> ({{ book.date }})</span>
        </mat-card-title>
        <mat-card-title class="book-subtitle">
          {{ book.subtitle }}
        </mat-card-title>
        <div class="genre">{{ book.genre}}</div>
      </mat-card-header>
      <a class="link" [routerLink]="['/books', book.id]">
        <div class="image-container">
          <img mat-card-image [src]="imageUrl + book.id + refresh" alt=""
               class="book-image">
        </div>
      </a>
      <mat-card-content class="book-card-content">
        <div class="book-footer">
          <div class="author" *ngIf="book.author_id">
            <a class="link"
               [routerLink]="['/author', book.author_id]">
              {{ book.author_id }}
            </a>
            <span (click)="editAuthor()" class="link">
              {{ book.author }}
            </span>
          </div>
          <div class="translator">{{ book.translator }}</div>
          <div class="pubinfo">{{ book.pubinfo }}</div>
        </div>
      </mat-card-content>
    </mat-card>
</div>

