<mat-spinner *ngIf="!movies"></mat-spinner>
<mat-form-field>
  <input #input matInput placeholder="zoek"
         (ngModelChange)="filterTitle($event)"
         [(ngModel)]="query"
         (click)="input.select()"
  >
  <button mat-button *ngIf="query"
          matSuffix mat-icon-button aria-label="Clear"
          (click)="resetSearch()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="movies-list" *ngIf="movies">
  <div [class.wrapper]="wrap != 'nowrap'"
       [class.nowrapper]="wrap == 'nowrap'">
    <div class="filler" *ngIf="filteredMovies.length == 0"></div>
    <div *ngFor="let movie of filteredMovies">
      <mat-card
        class="movie-card">
        <mat-card-header class="movie-header">
          <mat-card-title
          class="link movie-title">
            {{ movie.DisplayTitle }}
          </mat-card-title>
          <span class="horizontal-spacer"></span>
          <app-movie-menu
            [unwatch]="unwatch"
            (unwatchChange)="unwatchChange($event)"
            [movie]="movie"></app-movie-menu>
        </mat-card-header>
        <div class="image-container link" (click)="toDetails(movie.ID)">
          <img mat-card-image [src]="movie.ImageUrl"
               (error)="movie.ImageUrl='assets/not-found.png'"
               alt="missing cover"
               class="movie-image">
        </div>
        <mat-card-content
          class="movie-card-content">
          <div *ngIf="!hideDirector">
            <a class="link"
               [routerLink]="['/director', movie.idRegisseur]">
              {{ movie.naamRegisseur }}
            </a>
          </div>
          <div>
            {{ movie.Jaar }} - {{ movie.Rating }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card class="movie-card" *ngIf="more">
      <span class="link" (click)="toMore()">more . . .</span>
    </mat-card>
  </div>
</div>
