.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.nowrapper {
  overflow-x: auto;
  display: flex;
  .movie-card {
    margin: 20px;
  }
}
.movie-card {
  width: 180px;
  height: 460px;
  margin: 20px auto;
}
.movie-header {
  height: 92px;
  overflow: auto;
}
.image-container {
  height: 316px;
  overflow: hidden;
  margin: 0 -16px;
  img {
    min-width: 200px;
    min-height: 100px;
    text-align: center;
    font-size: 30px;
    padding: 12px;
  }
}
.movie-card-content {
  padding: 10px 0 0 0;
  font-size: 16px;
}
.movie-title {
  width: 120px;
}
.filler {
  height: 600px;
  min-width: 1px;
  //background-color: #3366dd;
}
