.header {
  font-size: 20px;
  padding: 10px;
}
:host {
  line-height: 1.6;
}
table {
  width: 720px;
}
th.mat-sort-header-sorted {
  color: black;
}
tr td {
  //padding: 0 4px;
}
tr td:last-child {
  text-align: right;
}
