<div class="card-wrapper">
  <app-author-edit-card [(author)]="author"
                        [refresh]="refresh"
                        (toggleBooksList)="toggleBooksList()"
                        (close)="onClose($event)"
                        (wiki)="changeWiki($event)"
  ></app-author-edit-card>
  <div class="second-column">
    <div>
      <app-author-wiki
        [wiki]="wiki"
        (language)="onLanguage($event)"
        (close)="wiki = null"
        (picture)="storeWikiPicture($event)"
        (born)="useBorn($event)"
        (died)="useDied($event)"
      ></app-author-wiki>
    </div>
    <div *ngIf="wiki" class="vertical-spacer"></div>
    <div *ngIf="showBooks">
      <app-author-books-list [author]="author"
                             (close)="onClose($event)"
                             class="books-list"
      ></app-author-books-list>
    </div>
  </div>
</div>
