.thumb {
  width: 60px;
}
.form {
  display: inline;
}
.book-image {
  width: 120px;
}
.button-remove {
  float: right;
}
.book-menu {
  position: absolute;
  top: 4px;
  right: 5px;
}
.image-container {
  padding: 14px 0;
}
.book-header {
  width: 85%;
}
