.play {
  opacity: .5;
  position: relative;
  top: 7px;
  cursor: pointer;
}
.text-container {
  display: inline-block;
  padding: 8px 0 8px 16px;
}
.title {
  max-width: 500px;
  white-space: nowrap;
}
.selected {
  font-weight: bold;
}
.pieces-list {
  margin-top: 8px;
}
.opener {
  font-size: 16px;
  line-height: 2;
  transition: color .35s;
  padding: 3px;
}
.opener mat-icon {
  cursor: pointer;
}
.count {
  margin-bottom: -6px;
  cursor: default;
}
.pieces {
  max-height: 0;
  transition: max-height .25s ease-in;
  overflow-y: hidden;
}
.pieces.visible {
  max-height: 2000px;
  overflow-y: auto;
}
.album-pieces {
  padding: 12px;
}
.play-piece {

}
.play-piece-2 {
  margin-left: 12px;
}
