<form class="search-form">
  <div class="search-fields">
    <mat-accordion class="accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Zoek</mat-panel-title>
          <mat-panel-description>op kenmerken</mat-panel-description>
        </mat-expansion-panel-header>

    <app-typeahead
      *ngFor="let choice of filteredChoices"
      [placeholder]="choice.label"
      [displayfield]="choice.displayfield"
      [items]="choice.items"
      [(id)]="choice.id"
    ></app-typeahead>
    <mat-form-field class="form-field">
      <input matInput #query
             placeholder="Titel"
             title=""
             [formControl]="myControl"
      >
      <button mat-button *ngIf="query.value"
              class="closer" aria-label="Clear"
              matSuffix mat-icon-button aria-label="Clear"
              (click)="clearQuery()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div>
      <button mat-button
              class="get-albums"
              (click)="getAlbums()">get albums</button>
      <button mat-button (click)="customize()">
        ...
      </button>
    </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-chip-list class="chips">
      <mat-chip *ngFor="let facet of facets"
                [removable]="true"
                (removed)="remove(facet)"
                [style.backgroundColor]="facet.color">
        {{ facet.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</form>
