@import "../../../../app-variables";

//:host {
//  display: block;
//  margin: 90px 0 20px 0;
//}
.get-albums {
  //width: 100%;
  //margin-top: 20px;
}
.mat-form-field {
  //margin-right: 8px;
}
.mat-select-panel {
  max-height: 100%;
}
.search-fields {
  margin: 80px 0 0 0;
}
.closer {
  color: #aaa;
  &:hover {
    background-color: $mat-button-hover-background;
    color: #333;
  }
  .mat-icon {
    position: relative;
    font-size: 16px;
    width: inherit;
  }
}
.form-field {
  width: 200px;
}
.accordion {
}
.chips {
  position: relative;
  top: 20px;
}
