<div class="app-container" [class.alternate-theme]="darkOn">

  <app-toolbar
    (darkOn)="setDarkOn($event)"
    [sidenav]="sidenav"></app-toolbar>
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav mode="over">
      <nav>
        <h2>
          {{ appTitle }}
          <button mat-button (click)="sidenav.close()">
            <mat-icon>close</mat-icon>
          </button>
        </h2>

        <div class="menus-container">
          <app-menu-books [sidenav]="sidenav"></app-menu-books>
          <app-menu-movies [sidenav]="sidenav"></app-menu-movies>
          <app-menu-music [sidenav]="sidenav"></app-menu-music>
          <app-menu-videos [sidenav]="sidenav"></app-menu-videos>
        </div>

      </nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <div class="container-outlet">
          <!--<div class="debug-message">{{ debugMessage }}</div>-->
          <router-outlet></router-outlet>
          <!-- Routed views go here -->
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
