@import "../../../../app-variables";


.list {
  margin-top: 20px;
}
.selected-image {
  width: 70px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
  & img {
    height: 70px;
  }
}
.person-image-col {
  max-width: 80px;
}
.mat-option {
  height: auto;
}
ul {
  padding: 0;
}
.reset {
  float: right;
  text-align: right;
  & mat-icon {
    font-size: 16px;
    color: #999;
    cursor: pointer;
    transition: color $control-hover-transition-time;
  }
  &:hover mat-icon {
    color: $control-hover-color;
  }
}
.label {
  position: relative;
  top: 20px;
  left: 10px;
  font-size: 2px;
  height: 0;
  transition: all 1s;
  &.selected {
    top: 0;
    left: 0;
    height: 14px;
    font-size: 12px;
  }
}

.seperator {
  height: 30px;
}
