.header {
  font-size: 20px;
  padding: 10px;
}
:host {
  line-height: 1.6;
}
table {
  width: 600px;
}
th.mat-sort-header-sorted {
  color: black;
}
.deleted {
  display: none;
}
.clear-filter {
  display: inline-block;
}
tr td:last-child {
  text-align: right;
}
.hover-img {
  position: absolute;
  top: 100px;
  left: 100px;
  min-width: 20px;
  min-height: 20px;
  border: red solid 1px;
  img {
    width: 100px;
  }
}
.mat-row:hover {
  background: #7f7f7f;
  .cdk-column-imgsrc {
    border: red solid 1px;
  }
}
