.thumb {
  width: 200px;
}
.controls {
  margin-top: 12px;
}
.years div {
  display: inline-block;
  margin-bottom: 4px;
}
.name {
  margin-top: 4px;
}
.controls button {
  width: 200px;
  margin-bottom: 8px;
}
