<mat-card>
  <input type="text"
         placeholder="album path"
         matInput
         (click)="selectPath($event)"
         (keydown)="albumPathGet($event)"
         [(ngModel)]="path"
         class="luister-path"
  >
  <button mat-raised-button (click)="getAlbum()">
    get album</button>
  <a (click)="toAlbum()"
     *ngIf="album"
  >{{ album.Title }}</a>
  <button mat-raised-button (click)="uploadAlbum()">
    upload album</button>
</mat-card>
<mat-card>
  <input type="text"
         placeholder="cuesheet path"
         matInput
         (click)="selectPath($event)"
         [(ngModel)]="pathCue"
         class="luister-path"
  >
  <button mat-raised-button (click)="split()">
    split
  </button>
</mat-card>
