<mat-progress-spinner *ngIf="!movie"></mat-progress-spinner>
<div class="movie-component row" *ngIf="movie">
  <div>
    <mat-card
      class="movie-card">
      <mat-card-header class="movie-header">
        <mat-card-title>
          {{ movie.DisplayTitle }}
        </mat-card-title>
        <app-movie-menu [movie]="movie"></app-movie-menu>
      </mat-card-header>
      <div class="image-container">
        <img mat-card-image [src]="movie.ImageUrl" alt="cover missing"
             class="movie-image">
      </div>
      <mat-card-content class="movie-card-content">
        <a class="link"
           [routerLink]="['/director', movie.idRegisseur]">
          {{ movie.naamRegisseur }}
        </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="details" *ngIf="details">
    <app-movie-details [details]="details"></app-movie-details>
  </div>
</div>

