.movie-card {
  width: 180px;
  height: 450px;
  //margin: 20px auto;
}
.movie-card-content {
  padding: 20px;
  font-size: 18px;
}
.movie-image {
}
.movie-header {
  height: 92px;
  overflow: hidden;
}
.image-container {
  height: 316px;
  overflow: hidden;
  margin: 0 -16px;
}
.details {
  padding: 12px;
}

