<div class="closer"
        (click)="closeEdit()"
>x</div>
<form [formGroup]="formGroup"
      novalidate
      (ngSubmit)="save()">
  <mat-form-field class="{{ option.name }}" *ngFor="let option of options">
    <img [src]="author.imgurl" *ngIf="option.name == 'imgurl' && author.imgurl"
         class="thumb" alt="author picture">
    <input matInput [placeholder]="option.label" [title]="option.label"
           [name]="option.name" [formControlName]="option.name">
    <mat-error *ngIf="hasError('last', 'required')">Title is required</mat-error>

  </mat-form-field>
  <button mat-raised-button color="primary"
          [disabled]="!formGroup.valid">Bewaar</button>
</form>
