<div class="author-wiki">
  <mat-card>
    <mat-card-actions>
      <button mat-button (click)="changeLanguage('nl')"
              class="nl">nl</button>
      <button mat-button (click)="changeLanguage('en')" class="en">en</button>
      <button mat-button (click)="changeLanguage('de')" class="de">de</button>
      <button mat-button (click)="changeLanguage('fr')" class="fr">fr</button>
    </mat-card-actions>
    <mat-card-header *ngIf="wiki">
      <div>{{ wiki.title }}</div>
      <!--<div class="closer" (click)="closeWiki()">x</div>-->
    </mat-card-header>
    <mat-card-content *ngIf="wiki">
      <div class="content-wrapper">
        <div class="image-container">
          <img [src]="wiki.imgurl"
               (click)="usePicture()"
               class="wiki-img" alt="wiki image"
               *ngIf="wiki.imgurl">
          <div (click)="usePictureUrl()"
               *ngIf="wiki.imgurl && pictureUrlSubscribed()"
               class="link">url</div>
        </div>
        <div class="text-container">
          <div class="wiki-description">{{ wiki.description }}</div>
          <div class="wiki-extract">{{ wiki.extract }}</div>
        </div>
      </div>
      <div class="wiki-footer">
        <span *ngIf="getYears()">
          <a (click)="useYear1()" class="link" *ngIf="years.length > 0">
            <span>{{ years[0] }}&nbsp;</span> |&nbsp;
          </a>
          <a (click)="useYear2()" class="link" *ngIf="years.length > 1">
            <span>{{ years[1] }}&nbsp;</span> |&nbsp;
          </a>
        </span>
        <a target="_blank" [href]="wiki.url"
           class="link"
        >wikipedia</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
