<form [formGroup]="formGroup"
      novalidate
      class="form"
      (ngSubmit)="toSave()">
  <mat-form-field class="{{ option.name }}"
                  *ngFor="let option of options">
    <input matInput
           (mouseover)="option.hovered = true"
           (mouseleave)="option.hovered = false"
           [placeholder]="option.label"
           [name]="option.name"
           [autocomplete]="option.autocomplete"
           [formControlName]="option.name">
    <img *ngIf="option.name == imgurl && option.hovered"
         [src]="formGroup.controls[option.name].value"
         class="thumb"
         alt="person picture">
    <div *ngFor="let error of errorTable">
      <mat-error *ngIf="error.name === option.name && hasError(error.name, error.validator)">
        {{error.message}}</mat-error>
    </div>

  </mat-form-field>
  <button mat-raised-button color="primary"
          [disabled]="!formGroup.valid">Bewaar</button>
</form>
<button mat-flat-button (click)="closeDialog()" class="button-remove"
>Annuleren</button>
