<div class="album-list chip-lists">
  <h3 mat-subheader class="list-header">{{ filteredAlbums?.length }} albums</h3>
  <mat-form-field>
    <input #input matInput placeholder="zoek"
           (ngModelChange)="search($event)"
           [(ngModel)]="query"
           (click)="input.select()"
    >
    <button mat-button *ngIf="query"
            matSuffix mat-icon-button aria-label="Clear"
            (click)="resetSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="wrapper">
    <div *ngIf="!filteredAlbums || filteredAlbums.length == 0" class="filler"></div>
    <div *ngFor="let album of filteredAlbums">
      <a (click)="toAlbum(album.ID)">
        <mat-card class="album-card">
          <mat-card-header class="album-header">
            <mat-card-title>
              {{ album.Title }}
            </mat-card-title>
          </mat-card-header>
          <div class="image-container">
            <img [src]="albumImage(album.ID)"
                 default="assets/not-found.png"
                 alt="cover"
                 class="album-image">
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>

