<button mat-menu-item
        class="imdb"
        (click)="toImdb()"
>
  <mat-icon class="movie-control imdb"
            waves-light waves-effect
  >movie
  </mat-icon>
  <span>IMDb</span>
  <span class="rating"> {{ movie.Rating }}</span>
</button>
<div>
  {{ movie.Gemaakt }}
</div>
<br>
<div>
  <a [routerLink]="['/movies/jaar', movie.Jaar]" class="link">
    {{ movie.Jaar }}</a>
</div>
<div><button mat-button (click)="refetch()">
  spelers ophalen
</button></div>
<div>
      <span *ngFor="let actor of actors">
        <a [routerLink]="['/speler/naam', actor.name]" class="link">
          <div class="avatar">
            <img [src]="getImageUrl(actor.imageurl)" alt="no cover">
          </div>
          {{ actor.name || actor.naam }}
        </a>
      </span>
</div>
<div *ngIf="actors.length == 0">
      <span *ngFor="let speler of spelers; let i = index">
        <a [routerLink]="['/speler/naam', speler.naam]" class="link">
        {{ speler.naam }}</a>
      <span *ngIf="i < spelers.length - 1">, </span>
      </span>
</div>
<br>
<div>{{ movie.genres }}</div>
<br>
<div *ngFor="let gez of gezien">
  {{ gez.datum }}
</div>
<div><a (click)="addToday()" class="link">+</a> </div>
