.thumb {
  width: 60px;
}
.form {
  display: inline;
}
.director-image {
  width: 120px;
}
.button-remove {
  float: right;
}
.director-menu {
  position: absolute;
  top: 4px;
  right: 5px;
}
.image-container {
  padding: 14px 0;
  img {
    max-width: 180px;
  }
  img:not(.default-image) {
    width: 180px;
  }
}

